# Extract FEMA Flood Claim Data
This notebook uses the [FEMA API](https://www.fema.gov/about/openfema/api) to fetch [FIMA NFIP Redacted Claims](https://www.fema.gov/openfema-data-page/fima-nfip-redacted-claims-v2) data for North Carolina. The results are saved into the `data`/`raw` folder as `NC_Claims.csv`. 

**Sources/Links**: 
* NFIP Redacted Claims: <https://www.fema.gov/openfema-data-page/fima-nfip-redacted-claims-v2>
* FEMA API Documentation: <https://www.fema.gov/about/openfema/api>

**Damage codes**:  
0 : Other causes;  
1 : Tidal water overflow;  
2 : Stream, river, or lake overflow;  
3 : Alluvial fan overflow;  
4 : Accumulation of rainfall or snowmelt;  
7 : Erosion-demolition;  
8 : Erosion-removal;  
9 : Earth movement, landslide, land subsidence, sinkholes, etc.;  
A : Closed basin lake;  
B : Expedited claim handling process without site inspection;  
C : Expedited claim handling process follow-up site inspection;  
D : Expedited claim handling process by Adjusting Process Pilot Program (Remote Adjustment);

In [1]:
#Packages
from pathlib import Path
import pandas as pd
import requests

In [2]:
#Set the state to extract
the_state = 'NC'

In [3]:
#Set fields to extract
fields = [
    'dateOfLoss','occupancyType','amountPaidOnBuildingClaim','totalBuildingInsuranceCoverage',
    'yearOfLoss','buildingDamageAmount','netBuildingPaymentAmount','causeOfDamage','floodEvent',
    'state','reportedZipCode','countyCode','censusTract','censusBlockGroupFips',
    'latitude','longitude']

In [ ]:
#Construct the request and send it, coding the response as a json object (dictionary)
base_url = f'https://www.fema.gov/api/open/v2/FimaNfipClaims?$filter=state%20eq%20%27{the_state}%27&&$select={",".join(fields)}&$allrecords=true'
response = requests.get(base_url)
resp_json = response.json() # json becomes a dictionary

In [5]:
#Extract claims from the fetched data
claims = resp_json['FimaNfipClaims']
len(claims)

109268

In [6]:
#Convert to a dataframe
df = pd.DataFrame(claims)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109268 entries, 0 to 109267
Data columns (total 16 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   dateOfLoss                      109268 non-null  object
 1   occupancyType                   109265 non-null  float64
 2   amountPaidOnBuildingClaim       83993 non-null   float64
 3   totalBuildingInsuranceCoverage  109268 non-null  int64
 4   yearOfLoss                      109268 non-null  int64
 5   buildingDamageAmount            89218 non-null   float64
 6   netBuildingPaymentAmount        109268 non-null  float64
 7   causeOfDamage                   107407 non-null  object
 8   floodEvent                      85463 non-null   object
 9   state                           109268 non-null  object
 10  reportedZipCode                 109268 non-null  object
 11  countyCode                      108423 non-null  object
 12  censusTract                     104729 non-null  object
 13  censusBlockGroupFips            104729 non-null  object
 14  latitude                        108560 non-null  float64
 15  longitude                       108560 non-null  float64
dtypes: float64(6), int64(2), object(8)
memory usage: 13.3+ MB

In [7]:
df.head()

,dateOfLoss,occupancyType,amountPaidOnBuildingClaim,totalBuildingInsuranceCoverage,yearOfLoss,buildingDamageAmount,netBuildingPaymentAmount,causeOfDamage,floodEvent,state,reportedZipCode,countyCode,censusTract,censusBlockGroupFips,latitude,longitude
0,2011-08-28T00:00:00.000Z,1.0,2775.48,250000,2011,3776.0,2775.48,4,Hurricane Irene,NC,27948,37055,37055970300,370559703003,36.0,-75.7
1,1999-09-16T00:00:00.000Z,1.0,NaN,59800,1999,300.0,0.00,2,Hurricane Floyd,NC,28425,37141,37141920204,371419202042,34.6,-77.8
2,2008-08-27T00:00:00.000Z,1.0,NaN,250000,2008,4793.0,0.00,4,None,NC,28207,37119,37119002800,371190028002,35.2,-80.8
3,1999-09-16T00:00:00.000Z,3.0,12267.44,250000,1999,12768.0,12267.44,4,Hurricane Floyd,NC,27909,37139,37139960200,371399602003,36.3,-76.2
4,1998-08-26T00:00:00.000Z,1.0,23272.18,43000,1998,24486.0,23272.18,4,Hurricane Bonnie,NC,27817,37013,37013931000,370139310001,35.5,-77.0

In [8]:
#Fix occupancyType: remove decimal and save as a string
df['occupancyType'] = df['occupancyType'].fillna(0).astype('int64').astype('str')

In [9]:
#Save locally
df.to_csv(Path.cwd().parent/'data'/'raw'/'NC_Claims.csv',index=False)